.navbar {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .2);
}

.navbar-nav {
    @include media-breakpoint-up(md) {
        margin-right: -.5rem;
    }
}

.navbar-brand {
    text-transform: uppercase;

    span {
        padding: .3rem .7rem;
        border: 1px solid rgba($white, .5);
        border-radius: 3px;
    }

    &:hover,
    &:focus {
        span {
            border-color: rgba($white, .75);
        }
    }
}

.navbar {
    font-family: $font__body;
}
